/* definimos las variables que vamos a usar dentro de la hoja */
/************** RESET CSS ******************** */
:root{
    --main-font:sans-serif;
    --font-size:16px;
    --main-color:#f7df1e;
    --second-color: white;
    --main-modal-color: rgba(247,222,30,0.85);
    --second-modal-color: rgba(34,34,34,0.85);
    --container-width: 1200px;   
    
 
}
/* *********** RESET HTML ********* */
html{
    box-sizing: border-box;
    font-family: var(--main-font);
    font-size: var(--font-size);
    scroll-behavior: smooth; /* esta propiedad es la que hace que la transicion no sea tan subita */
}

*, *:before,*:after{
    box-sizing: inherit;
}
body{
    margin: 0;
    overflow-x: hidden; /*para que todo lo que se desborde en horizontal se oculte y no se genere la plaza de desplazamiento
    si usamos imagenes, hacemos que se adapten a la maxima anchura del contenedor.*/
}

img{
    max-width: 100%;
    height: auto;
}

 /********************************** menu de hamburgesa  *****************************/
 .header{
    position: sticky; /*lo que hace es cuando el header llegue a la posicion 0 del margen de top, se comporta como si estuviese*/
    top: 0;
    padding: 1rem;
    background: rgb(175,27,8);
    background: linear-gradient(283deg, rgba(175,27,8,1) 24%, rgba(31,9,121,1) 75%);
    color: var(--second-color);
 }
 .header h1{
    margin: 0 auto;
    text-align: center;
 }
 .section{
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
 }

.panel{
    position: fixed;
    z-index: 998;
    overflow-y: auto;
    /* esto estira el elemento en todas direcciones, toca todos los margenes */
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    /* fin  */
    width: 100%;
    /* opacity: 0; */
    /* visibility: hidden; */
    background-color: var(--second-modal-color);
    transition: transform .3s ease-out, opacity .3s ease-in;
    /* de arriba, valores negativos es ir hacia arriba */
    /* transform: translate(0,-100%); */
        /* De abajo */
    /* transform: translate(0,-00%); */
        /* De la derecha */
    /* transform: translate(100%,0); */
            /* De la izquierda */
    transform: translate(-100%,0);
}

.panel.is-active{
    transform: translate(0,0);
    /* opacity: 1;
    visibility: visible; */
}



 .panel-btn{
    /* con esto cambiamos el panel de lugar , lo movemos a la derecha abajo */
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4.5rem;
    height: 4.3rem;
    border-radius: 50%;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(175,27,8);
    background: linear-gradient(283deg, rgba(175,27,8,1) 24%, rgba(31,9,121,1) 75%) !important;
 }


.menu{
    width: inherit; /*hereda la anchura de su contenedor*/
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}
.menu a{
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: green;
    transition: all 0.3s ease-in-out;
}
.menu a:hover{
    font-weight: bold;
    color:yellow;
    background-color: pink;
}

/* ************** fin menu hamburgesa ***************** */

/******************** EVENTOS DEL TECLADO ***************************  */
.stage{
    display: flex;
    min-height: 50vh;
    background-color: red;
}

.ball{
    margin: auto;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    background-color: green;
}

/* ************* FIN EVENTO TECLADO **************** */


/* **************** SCROLLTOPBUTTON ********************************* */
.scroll-top-btn{
    right: calc(4.60rem + 1vw);
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    width: 4.5rem;
    height: 4.3rem;
    border-radius:50%;
    font-size: 2rem;
    font-weight: bold;
    background: rgb(175,27,8);
    background: linear-gradient(283deg, rgba(175,27,8,1) 24%, rgba(31,9,121,1) 75%);
    color: white;
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.3s ease-out;
    /* arreglar la transicion*/
    
}

.scroll-top-btn:hover{
    background-color: var(--main-color);
    color:red;
}


.hidden{
    visibility: hidden;
    opacity: 0;
}

/********************* FIN BUTTON TOP *******************************  */
/********************* DARK THEME BUTTON *******************************  */
.dark-theme-btn{
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    left: 1vw;
    width: 4.5rem;
    height: 4.3rem;
    border-radius:50%;
    font-size: 2rem;
    font-weight: bold;
    background: rgb(175,27,8);
    background: linear-gradient(283deg, rgba(175,27,8,1) 24%, rgba(31,9,121,1) 75%);
    color: white;
    cursor: pointer;
    outline: 0;
    border: 0;
    transition: all 0.3s ease-out;
    /* arreglar la transicion*/
    
}

.dark-theme-btn:hover{
    background-color: var(--main-color);
    color:red;
}

.dark-mode{
    background-color: black;
    color: white;
}

/*********************  Network Status ************************/
.online, 
.offline{
    position:sticky;
    top:0;
    z-index: 1000;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    background-color: #1b5e20;
    color: #fff;
}

.offline{
    background-color: red;
}

/*********************** FIN NETWORK STATUS ********************  */



/*********************** SearchFilters INICIO ********************  */
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
}

.card{
    background-color: red;
    color:yellow;
    transition: all 0.3s ease-out;
}

.card img{
    width: 100%;
    height: auto;
}

.card figcaption{
    padding: 1rem;
}

.filter {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    order: 1;
}

/*********************** SearchFilters FIN  ********************  */

/*********************** SLIDER RESPONSIVE IMG INICIO ********************  */
.slider{
    position:relative;
    border: thin solid black;
    width: 80%;
    margin: 1rem auto;
    text-align: center; 
}

.slider-slides{
    position: relative;
    height: 400px;
}

.slider-slide{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s ease;
}

.slider-slide img{
    height: inherit;
    width: inherit;
    object-fit: cover;
    object-position: 50% 35%;
}

.slider-slide.active{
    opacity: 1;
    visibility: visible;
}

.slider-btns{
    position: absolute;
    width: 100%;
    top:50%;
    display: flex;
    justify-content: space-between;
    font-size: 3em;
    font-weight: bold;
}

.slider a{
    display: block;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    border: thin solid #000;
    text-decoration: none;
    background-color: red;
    color: green;
    transition: all 0.3s ease-in-out;
}
.slider a:hover{
    color:#f7df1e
}


/*********************** SLIDER RESPONSIVE IMG FIN ********************  */



/*********************** ScrollSpy INICIO  ********************  */
@media screen and (min-width: 1024px){
    body{
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-rows: 4rem auto;
        grid-template-areas: 
        "header header"
        "main   panel";
    }
    main{
        grid-area: main;
    }
    .header{
        grid-area: header;
    }
    .panel{
        grid-area: panel;
        align-self: flex-start;
        position: sticky;
        justify-content: flex-start;
        top: 4rem;
        background-color: var(--main-color);
        transform: translate(0,0);
        opacity: 1;
        visibility: visible;
    }
    .panel-btn{
        display: none;
    }
    
    .menu{
        justify-content: start;
        text-align: right;
    }

    .menu a{
        font-size: 1rem;
        padding: .75rem;
    }
    
    .menu a:hover,
    .menu a.active{
        color: var(--second-color);
        background-color: green;
    }

    .scroll-top-btn{
        right: initial;
        left: calc(4.25rem + 1vw);
    }
    .section{
        border: thin solid rgba(1, 15, 15, 0.057);
    }

    .section video{
        width: 800px;
        height: 800px;
    }
}


/*********************** scrollspy FIN ********************  */
